<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }} </title>
    <link href="http://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="alternate" type="application/atom+xml" title="Feed for blog posts" href="/feed.xml">
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1566617666966766',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.7&appId=1566617666966766";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="wrapper">
    <nav>
        <a href="/">home</a> &middot; <a href="/feed.xml">feed</a>
    </nav>
    <header>
        <h1>{{ page.title }}</h1>
        <time>{{ page.date | date_to_string }}</time>
    </header>
    <article>
        {{ content }}
        {% for post in site.posts %}
            {% if post.url == page.url %}
                {% assign post_index = forloop.index %}                        
            {% endif %}
        {% endfor %}
        {% for post in site.posts %}
            {% if post_index == forloop.index0 %}
                {% assign next_url = post_url %}
                {% assign next_title = post_title %}
            {% endif %}
        {% endfor %}
        {% if next_url %}
        <aside>
            <p><strong>next:</strong><br />
            <a href="{{ next_url }}">{{ next_title }}</a></p>
        </aside>
        {% endif %}
        
    </article>
    
    <div class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>
    
    <div class="fb-comments" data-href="http://blog.eegg.io/2016/07/14/2.html" data-numposts="5"></div>

    <footer>
        <a href="/">home</a> &middot; <a href="/feed.xml">feed</a> &middot; <a href="https://tinypress.co/">&lt;3, tinypress</a>
    </footer>
  </div>

</body>
</html>
