<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="Feed for blog posts" href="/feed.xml">
    <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
<!-- FB init -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1566617666966766',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/ko_KR/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <div class="upper">
        <div class="upper-image" style="background-image: url('/assets/images/bg.jpg');">
            Upper Image !!
        </div>
    </div>
    <div class="wrapper">
        <header>
            <h1>{{ site.title }}</h1>
            <ul style="display: inline-block;">
                <li style="text-decoration: none;">About</li>
            </ul>
        </header>
        <div style="border-bottom: 1px solid #F4F6F7; margin: 10px 0; padding: 20px; line-height: 1.2em;">서비스를 개발하면서 직면하게 된 문제를 해결하는 과정을 담고 싶습니다.</div>
        <article class="list">
            <ul class="post-list">
                {{ content }}

        <footer>
            <a href="/feed.xml">feed</a> &middot; <a href="https://tinypress.co/">&lt;3, tinypress</a> &middot; <a href="https://www.facebook.com/taewoo.kim.3910829">Facebook</a>
        </footer>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
(function ($) {
  "use strict";
  $(document).ready(function(){
    var $window = $(window),
    $image = $('.upper-image');
    
    $window.on('scroll', function() {
        var top = $window.scrollTop();

        if (top < 0 || top > 1500) { return; }
        $image
          .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
          .css('opacity', 1-Math.max(top/700, 0));
    });
    $window.trigger('scroll');
  });
}(jQuery));
</script>
